In [26]:
import pandas as pd
df=pd.read_excel("USA Home Owners 2025.xlsx")

In [56]:
import pandas as pd

In [33]:
df=pd.read_csv("USA_home_owners_2025.csv",header=4)

C:\Users\george\AppData\Local\Temp\ipykernel_12364\335740648.py:1: DtypeWarning: Columns (99,100,101,102,107) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("USA_home_owners_2025.csv",header=4)

In [46]:
df.head()

,Household_Member1,Address,City_State_Zip,Area_Code_and_Phone,Phone_Area_Code,Phone_Number_without_Area_Code,City,State,ZIP,ZIP_+_4,...,Mail_Order_Buyer20,Mail_Order_Buyer21,Mail_Order_Buyer22,Mail_Order_Buyer23,Mail_Order_Buyer24,Donor_Type1,Donor_Type2,Donor_Type3,Donor_Type4,Donor_Type5
0,Kathleen K Gonzalez,641 Antoinette St,"Deltona, FL 32725-2620",386-532-4524,386.0,532-4524,Deltona,FL,32725.0,32725-2620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Katia V Gonzalez,10729 SW 117th Pl,"Miami, FL 33186-3944",305-270-0459,305.0,270-0459,Miami,FL,33186.0,33186-3944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kevin Gonzalez,6221 NW 2nd St,"Margate, FL 33063-5155",NaN,NaN,NaN,Margate,FL,33063.0,33063-5155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lambert A Gonzalez Jr,310 N S St,"Pensacola, FL 32505-7933",850-438-8894,850.0,438-8894,Pensacola,FL,32505.0,32505-7933,...,NaN,NaN,NaN,NaN,NaN,Any Donor,Environmental,NaN,NaN,NaN
4,Lana D Gonzalez,2419 W State St,"Tampa, FL 33609-1744",NaN,NaN,NaN,Tampa,FL,33609.0,33609-1744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.columns

Index(['Household_Member1', 'Address', 'City_State_Zip', 'Area_Code_and_Phone',
       'Phone_Area_Code', 'Phone_Number_without_Area_Code', 'City', 'State',
       'ZIP', 'ZIP_+_4',
       ...
       'Mail_Order_Buyer20', 'Mail_Order_Buyer21', 'Mail_Order_Buyer22',
       'Mail_Order_Buyer23', 'Mail_Order_Buyer24', 'Donor_Type1',
       'Donor_Type2', 'Donor_Type3', 'Donor_Type4', 'Donor_Type5'],
      dtype='object', length=108)

In [39]:
df.dtypes

Household_Member1       object
Address                 object
City_State_Zip          object
Area_Code_and_Phone     object
Phone_Area_Code        float64
                        ...
Donor_Type1             object
Donor_Type2             object
Donor_Type3             object
Donor_Type4             object
Donor_Type5             object
Length: 108, dtype: object

apply() runs function on each column

x=one column

In [47]:
df.apply(lambda x: x.unique())

Household_Member1      [Kathleen K Gonzalez, Katia V Gonzalez, Kevin ...
Address                [641 Antoinette St, 10729 SW 117th Pl, 6221 NW...
City_State_Zip         [Deltona, FL  32725-2620, Miami, FL  33186-394...
Area_Code_and_Phone    [386-532-4524, 305-270-0459, nan, 850-438-8894...
Phone_Area_Code        [386.0, 305.0, nan, 850.0, 561.0, 941.0, 863.0...
                                             ...
Donor_Type1                                             [nan, Any Donor]
Donor_Type2            [nan, Environmental, Religious, Health, Politi...
Donor_Type3                          [nan, Religious, Health, Political]
Donor_Type4                                  [nan, Religious, Political]
Donor_Type5                                             [nan, Political]
Length: 108, dtype: object

In [48]:
df.nunique()

Household_Member1      235649
Address                267351
City_State_Zip         231938
Area_Code_and_Phone    187305
Phone_Area_Code            16
                        ...
Donor_Type1                 1
Donor_Type2                 4
Donor_Type3                 3
Donor_Type4                 2
Donor_Type5                 1
Length: 108, dtype: int64

In [51]:
df.isnull().sum()

Household_Member1           1
Address                 11971
City_State_Zip              4
Area_Code_and_Phone     94412
Phone_Area_Code         94412
                        ...
Donor_Type1            230859
Donor_Type2            237079
Donor_Type3            275319
Donor_Type4            280153
Donor_Type5            281660
Length: 108, dtype: int64

In [54]:
null_percentage = df.isnull().sum()/len(df)*100

In [55]:
null_percentage

Household_Member1       0.000355
Address                 4.248078
City_State_Zip          0.001419
Area_Code_and_Phone    33.503432
Phone_Area_Code        33.503432
                         ...
Donor_Type1            81.923576
Donor_Type2            84.130831
Donor_Type3            97.700835
Donor_Type4            99.416249
Donor_Type5            99.951029
Length: 108, dtype: float64